/* === General Section === */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
html, body, textarea, input { 
	font-size:101%;
	font-family:Helvetica,Arial,verdana,arial,sans-serif;
	color:#8F8F8F;
	font-size:12px;
	-webkit-text-size-adjust:none;
}
html{
	background:url(../img/bg.jpg) no-repeat center 410px #E0E0E0;
}
body{
}
a{
	color:#EEE;
	text-decoration:none;
	cursor:pointer;
}
a:hover { text-decoration:none }
a:hover { 
	opacity:0.95;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
 	color:#383838;
}

.social a:hover {
	opacity:0.6;
	box-shadow: 0 0 0px rgba(0,0,0,0.5);
}

::-moz-selection{ background:#CC8E57; color:#383838; }
::selection { background:#CC8E57; color:#383838; }
footer, header, section {
	display:block;
}
h1{
	color:#EEE;
	font-size:48px;
	letter-spacing:-0.03em;
	font-weight:100;
	z-index:400;
	position:relative;
	font-family: "Champagne & Limousines";
}
h2{
	font-size:48px;
	letter-spacing:-0.01em;
	margin-bottom:16px;
	margin-top:-4px;
	font-family: "Champagne & Limousines";
	color: #EEE;
}

	h2 a{
		color:#EEE;
		text-shadow: 0 0 10px #fff;
}
	h2 a:hover{
		opacity:0.6;
		box-shadow: 0 0 0px rgba(0,0,0,0.5);
		text-decoration: none;
		text-shadow: none;
		-webkit-transition: 50ms linear 0s;
		-moz-transition: 50ms linear 0s;
		-o-transition: 50ms linear 0s;
		transition: 50ms linear 0s;
		outline: 0 none;
}

h3{
	font-size:28px;
	margin:-20px 0 10px;
}

.social{
	float:right;
	position: relative;
	z-index: 2;
	border: 0 none;
	height: auto;
	margin-left: -3px;
	margin-right:3px;
	margin-top:15px;
	vertical-align: middle;
}

#home p {
	font-size:12px;
	float:right;
	margin-top:-35px;
	margin-right:85px;
	color: #BBB;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: lighter;
}

#home p b {
	font-size:28px;
	font-family:"Champagne & Limousines", "Champagne & Limousines Bold";
	color: #DDD;
}
/*<!--
.p3{
	font-size:18px;
	letter-spacing:-0.01em;
	margin-bottom:16px;
	margin-top:-222px;
	margin-left:270px;
	font-family: "Champagne & Limousines", "Champagne & Limousines Bold";
	color: #EEE;
	font-weight: 100;
}
.p1{
	font-size:18px;
	letter-spacing:-0.01em;
	margin-bottom:16px;
	margin-top:68px;
	margin-left:270px;
	font-family: "Champagne & Limousines", "Champagne & Limousines Bold";
	color: #EEE;
	font-weight: 100;
}
.p2{
	font-size:18px;
	letter-spacing:-0.01em;
	margin-bottom:16px;
	margin-top:63px;
	margin-left:270px;
	font-family: "Champagne & Limousines", "Champagne & Limousines Bold";
	color: #EEE;
	font-weight: 100;
}-->*/
h5{
	font-size:18px;
	margin-bottom:16px;
	margin-top:-225px;
	margin-left:280px;
	font-family: "Palatino Linotype";
}
p, li{
	line-height:1.5em;
}
p, ul{
	margin-bottom:18px;
}
li{
	list-style:inside square;
	margin-left:2px;
}

hr { 
	display:block;
	height:0px;
	line-height:0px;
	border:0;
	border-top:1px solid #222222;
	border-bottom:1px solid #444444;
	margin:16px 0;
	padding:0;
}
strong{
	font-weight:700;
}
header, footer, nav, section{
	display:block;
}
footer{
	font-size:10px;
	text-align:center;
}
#wrap{
	width:800px;
	min-height:420px;
	margin:0px auto;
	margin-top:80px;
	background:url(../img/bg.gif) #333333;
}
#content{
	position:relative;
	top:39px;
	width:500px;
	height:350px;
	margin-left:250px;
}
img{
	border:0;
}
noscript{
	display:block;
	position:absolute;
	top:238px;
	margin:0 auto;
	width:800px;
	bottom:0;
	z-index:20;
}
noscript p{
	width:800px;
	font-size:20px;
	padding-top:20px;
	margin:0 auto;
	color:#4D4D4D;
}
input:invalid{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.small{
	font-size:10px;
	color:#888;
	letter-spacing:0;
}
nav{
	width:200px;
	float:left;
	position:relative;
	background:url(../img/shine.gif) no-repeat left top;
}
nav ul{
	border-top:1px solid #222222;
	border-bottom:1px solid #444444;
	font-size:18px;
	font-weight:700;
}
nav ul li{
	list-style:none;
	padding:0;
	margin:0;
}
nav ul a{
	border-top:1px solid #444444;
	border-bottom:1px solid #222222;
	display:block;
	padding:6px 15px 7px 0;
	text-align:right;
	-webkit-text-shadow: -1px -1px 0px #222222, 1px 1px 0px #444444;
	-moz-text-shadow: -1px -1px 0px #222222, 1px 1px 0px #444444;
	text-shadow: -1px -1px 0px #222222, 1px 1px 0px #444444;
	color:#CCCCCC;
}
nav ul li a:hover, nav ul li a.active{
	border-top:1px solid #BBB;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	text-decoration:none;
	color:#383838;
	background-color: #cca758;
	background-image: url(../img/nav_bg.png);
	background-repeat: repeat-x;
	background-position: center;
}

#shadow{
	background:url(../img/shadow.png) no-repeat;
	height:400px;
	width:10px;
	position:absolute;
	right:0;
	top:0;
	border-right:1px solid #333333;
}
#logo{
	display:block;
	height:160px;
	text-indent:-9999px;
	background-image: url(../img/Logo.png);
	background-repeat: no-repeat;
	background-position: center;
}
.slide{
	height:250px;
	width:500px;
	display:none;
	position:absolute;
	left:0;
}
.slide h2, .slide h3, .slide h4, .slide h5{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	right: 0px;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer{
	overflow: hidden;
	position: relative;
}

.jspPane{
	position: absolute;
}

.jspVerticalBar{
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	background: #CCCCCC;
	border-top:1px solid #222222;
	border-left:1px solid #222222;
	border-right:1px solid #444444;
	border-bottom:1px solid #444444;
}

.jspHorizontalBar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	width: 6px;
	background: #CCCCCC;
	border-top:1px solid #222222;
	border-left:1px solid #222222;
	border-right:1px solid #444444;
	border-bottom:1px solid #444444;
}
.jspVerticalBar *,
.jspHorizontalBar *{
	margin: 0;
	padding: 0;
}

.jspCap{
	display: none;
}

.jspHorizontalBar .jspCap{
	float: left;
}

.jspTrack{
	background: #444444;
	position: relative;
}

.jspDrag{
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #AAA;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
	float: left;
	height: 100%;
}

.jspArrow{
	background: #222;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow{
	height: 16px;
}
.jspHorizontalBar .jspArrow{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus{
	outline: none;
}

.jspCorner{
	background: #222;
	float: left;
	height: 100%;
}

